.Rproj.user
.Rhistory
.RData
.Ruserdata

UrbanAgriculture/
Objetos_analises*.RData
.Rproj.user/
.Rhistory
.RData
Objetos_analises*.RData
.Rproj.user/
.Rhistory
.RData
*.RData
.Rhistory
.Renviron
.env
.Rhistory
.Renviron
.env
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
.env
data_raw/
outputs/
results/
figures/
*.RData
*.rds
*.qza
*.qzv
*.fastq
*.fastq.gz
Rplot.jpeg
Rplot.pdf
Rplot01.pdf
Rplot02.pdf
Rplot_saude_dieta_alpha.png
SVs_normalized_log_transformed.csv
Saude_AlphaDiversity.jpeg
TGP_vs_alpha_diversity.png
TableClinicalTraits.html
TyG_tertiles_alpha.png
VennDiagram.2025-01-24_08-33-47.731716.log
age_sex_summary.html
analises_c_chris_12_09_2024.Rmd
analises_c_chris_12_09_2024.nb.html
apagar.R
asvs_significant_correlations_diet.csv
boxplots_clusters.png
boxplots_significativos_dieta_clusters.pdf
